<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ versioned_asset(url_for('static', filename='js/progress-feedback.js')) }}"></script>
    <script src="{{ versioned_asset(url_for('static', filename='js/main.js')) }}"></script>
    <script src="{{ versioned_asset(url_for('static', filename='js/modal.js')) }}"></script>
    <script src="{{ versioned_asset(url_for('static', filename='js/mobile.js')) }}"></script>
    <script src="{{ versioned_asset(url_for('static', filename='js/feedback.js')) }}"></script>
    <script src="{{ versioned_asset(url_for('static', filename='js/faq-data.js')) }}"></script>
    <script src="{{ versioned_asset(url_for('static', filename='js/score-animations.js')) }}"></script>
    <script src="{{ versioned_asset(url_for('static', filename='js/score-effects.js')) }}"></script>
